<launch>
    <arg name="model" default="$(find biped_description)/urdf/biped.urdf.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="worlds/empty.world" />
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-x 0.0 -y 0.0 -z 1.05 -urdf -model biped -param robot_description"
          output="screen"/>
</launch>